[submodule "imported/Microsoft.GSL"]
	path = imported/Microsoft.GSL
	url = https://github.com/microsoft/GSL.git
[submodule "imported/stb"]
	path = imported/stb
	url = https://github.com/nothings/stb.git
[submodule "imported/SDL"]
	path = imported/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "imported/backward-cpp"]
	path = imported/backward-cpp
	url = https://github.com/bombela/backward-cpp.git
